name: Deploy

on:
  push:
  pull_request:
    branches:
      - main  # Triggers on PR creation/update
  merge_group:
    types: [checks_requested]  # Triggers during merge queue checks

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: 'pages'
  cancel-in-progress: false

jobs:
  quality-check:
    uses: ./.github/workflows/check.yml

  test:
    uses: ./.github/workflows/test.yml

  build-doc:
    name: Build documentation
    runs-on: ubuntu-latest
    needs: [quality-check, test]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rust-src

      - name: Build docs
        run: cargo doc --no-deps

      - name: Create index redirect
        run: |
          printf '<meta http-equiv="refresh" content="0;url=somehal/index.html">' > target/doc/index.html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: target/doc

  deploy-doc:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-doc
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4