name: Test

permissions:
  contents: read

on:
  push:
  pull_request:
    branches:
      - main  # Triggers on PR creation/update
  merge_group:
    types: [checks_requested]  # Triggers during merge queue checks
  workflow_call:  # Allows this workflow to be reused by other workflows

env:
  qemu-version: 9.2.4

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: cargo-bin-cache
          cache-targets: false
        
      - run: cargo install cargo-binutils
      - uses: arceos-org/setup-qemu@v1
        with:
          version: ${{ env.qemu-version }}
          arch_list: aarch64
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libudev-dev
          version: 1.0
      - run: cargo install ostool
      - name: Test kernel
        run: cargo test --target aarch64-unknown-none-softfloat -p test-some-rt --test test -- --show-output
      - name: Test Hypervisor
        run: cargo test --target aarch64-unknown-none-softfloat -p test-some-rt --test test --features hv -- --show-output

